{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <section class="row">
        <div class="container">
            <div>
                <h1><span class="badge badge-primary badge-found"><i
                                class="fa fa-map-pin"></i> {{ traobject.state.label }}</span> {{ traobject.title }}
                </h1>
            </div>
            <p><a href="#" class="badge badge-info">Annonce postée le <i
                            class="fa fa-calendar"></i> {{ traobject.createdAt|date('d/m/Y') }} </a>
                par {{ traobject.user.firstname }} {{ traobject.user.lastname }}</p>
            <p>Catégorie : <a href="#" class="badge" style="background-color:{{ traobject.category.color }};"><i
                            class="fa {{ traobject.category.icon }}"></i> {{ traobject.category.label }}</a></p>
            <section class="row">
                <article class="col-md-3">
                    <div class="card object-card">
                        {% if traobject.picture is null %}

                            <div class="card-logo-top" style="background-color: {{ traobject.category.color }};"><i
                                        class="fa {{ traobject.category.icon }}"></i></div>

                        {% else %}

                            <img class="card-img-top" src="{{ asset('uploads/' ~ traobject.picture) }}"
                                 alt="{{ traobject.category.label }}">

                        {% endif %}
                    </div>
                </article>
                <div class="card">
                    <ul class="object-features">
                        Description du " {{ traobject.title }} "<br>

                        Objet trouvé à : <br> <a href="#" class="badge badge-info"><i
                                    class="fa fa-map-marker"></i> {{ traobject.city }}</a>
                        le <a href="#" class="badge badge-info"><i
                                    class="fa fa-calendar"></i> {{ traobject.eventAt|date('d/m/Y') }}</a><br>

                        <i>"{{ traobject.description }}"</i> <br>

                        <button class="badge badge-info"><i class="fa fa-envelope"></i>
                            <br>{{ traobject.user.firstname }} {{ traobject.user.lastname }} </button>
                    </ul>
                </div>
            </section>
            <h3>Commentaire(s) : </h3>
            {% for comment in traobject.comments %}
            <section class="row">
                <div class="card col-md-8" style="background-color: #bbbbbb">
                    <ul class="object-features">
                        <div>{{ comment.content }}</div>
                        <div class="col-md-2">
                            <img style="border: #3f3f3f 4px solid; border-radius: 4px"  class="card-img-top" src="{{ asset('uploads/' ~ comment.user.picture) }}"
                                 alt="{{ comment.user }}">
                        </div>
                        <i class="fa fa-commenting"></i>Commentaire de : <i>{{ comment.user }} </i>
                    </ul>
                </div>
            </section>
                <br>
            {% endfor %}
        </div>
    </section>
{% endblock %}